@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&display=swap');

/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*--------------------*/

body {
   font-family: 'Raleway', sans-serif !important;
   font-size: 15px !important;
}

.header {}

.header__item {
   margin: 0px 0px 0px 20px;
   font-weight: 600;
}

.header__link {
   color: #fff;
}

.header__link:hover {
   color: #061e37;
}

.header__signUp {
   background-color: transparent;
   border: 1px #fff solid;
   border-radius: 2px;
   color: #fff;
   padding: 8px 20px;
   line-height: 14px;
}

.header__signUp:hover {
   color: #061e37;
   border-color: #061e37;
}

.navbar-toggler {
   border-color: #fff !important;
}

.navbar-toggler i {
   color: #fff;
}

.home {
   background: url("../img/bg1.jpg") no-repeat;
   background-size: cover;
   height: 740px;
}